:root {
  --space: 16px;
  --color: #c44f7a;
}

/* Elements */

html {
  scroll-behavior: smooth;
}

body {
  font-family: Averta;
  margin: 0;
  line-height: 1.5;
}

header {
  position: sticky;
  top: 0;
  padding: var(--space);
  background: white;
  border-bottom: 1px solid #ccc;
  color: var(--color);
}

button {
  cursor: pointer;
  padding: 8px;
  min-width: 100px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: inside;
}

pre {
  font-family: monospace;
  background: #f2f2f2;
  padding: 0 var(--space);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

a {
  color: var(--color);
}

@media (max-width: 758px) {
  h1 {
    font-size: 1.5em;
  }
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Averta;
  src: url(assets/TW-Averta-Regular.ttf);
}

/* Layout */

.section {
  padding-bottom: 40px;
}

:target[id^="section"] {
  padding-top: 200px;
}

.container {
  max-width: 1024px;
  margin: auto;
  padding: var(--space);
}

[class^="grid"],
[class*=" grid"] {
  display: grid;
  /* gap: var(--space); */
}

[class^="grid"],
[class*=" grid"] > * {
  /* padding: var(--space); */
}

.gap {
  gap: var(--space);
}

.gap-40 {
  column-gap: 40px;
}

.flex {
  display: flex;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 758px) {
  .grid-2--md {
    grid-template-columns: repeat(2, 1fr);
  }
}

.d-inline {
  display: inline;
}

.col-6 {
  float: left;
}

.col-6.box {
  width: 50%;
}

/* Theme */

.box {
  width: 100%;
  margin: var(--space) 0;
  padding: var(--space);
  border: 1px dashed grey;
}

.column {
  padding: var(--space);
}

.positive {
  background: #bef5d3;
}

.negative {
  background: #f5c6be;
}

.menu {
  display: flex;
  column-gap: var(--space);
  list-style: none;
  margin: var(--space) 0 0;
  padding: 0;
}

.menu__item {
  color: #c44f7a;
}

.try-me {
  position: relative;
}

@media (min-width: 758px) {
  html[dir="ltr"] .try-me:before {
    content: "";
    position: absolute;
    top: -30px;
    right: -150px;
    background: url(assets/try-me.png);
    width: 132px;
    height: 117px;
  }
}

/* Utilities */

.text-align--left {
  text-align: left;
}

.text-align--start {
  text-align: start;
}

.text-align--right {
  text-align: right;
}

.text-align--end {
  text-align: end;
}

.justify-content--start {
  justify-content: flex-start;
}

.justify-content--end {
  justify-content: flex-end;
}

.margin--right {
  margin-right: 40px;
}

.margin-inline-end {
  margin-inline-end: 40px;
}

.padding--right {
  padding-right: 40px;
}

.padding--left {
  padding-left: 40px;
}

.padding-inline-start {
  padding-inline-start: 40px;
}

.margin--top {
  margin-bottom: var(--space);
}

.margin--bottom {
  margin-bottom: 55px;
}
